.parent{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.child1{
  border: 1px solid rgb(212, 212, 212);
  padding: 50px;
  height: 325px;
}

.child2{
  border: 1px solid rgb(212, 212, 212);
  padding: 50px;
  height: 325px;
}